body {
  /* background-image: url("/image/clear-sky.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: fex;
  flex-wrap: wap;
  flex-direction: column-reverse;
  justify-content: center;
  width: 25rem;
  height: 58rem;
}
